main {
  background-color: #fff;

  height: 100%;
  width: 100%;

  display: flex;
}

.brand-desktop {
  color: #6D728B;

  margin-bottom: 8rem;
}

.brand-mobile {
  display: none;
}

article {
  padding: 6rem 20rem 3rem 14rem;
}

article .pink {
  color: #CE9898;
  margin-bottom: 0;

  font-weight: 300;
}

article h1 {
  color: #423A3A;
  margin-top: 0;
  margin-bottom: 0;
  
  font-size: 64px;
  font-weight: 600;

  line-height: 71px; /* 110.938% */
  letter-spacing: 17.321px;
}

p {
  color: #CE9898;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */

  margin-top: 2rem;
}

form {
  margin-top: 3rem;

  width: 445px;

  position: relative;
}

form:focus {
  border-style: none;
  border-color: #CE9898;
}

input {
  width: 445px;
  height: 56px;

  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  color: #423A3A;

  background-color: #fff;

  border-radius: 50px;
  border-width: 2px;
  border-color: #ddd;
  border-style: solid;

  padding-left: 40px;
}

input::placeholder {
  color: #CE9898;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  
  opacity: 0.5;
}

input:focus {
  border-style: none;
  border-color: #CE9898;
  
  outline-style: solid;
  outline-width: 2px;
  outline-color: #B97C7C;
}

input:-internal-autofill-selected {
  background-color: #B97C7C;
}

input.error {
  border-color: #F96464;
}

.error-icon {
  position: absolute;

  right: 25%;
  top: 25%;
}

.error-text {
  color: #F96464;
  font-size: 14px;

  position: absolute;

  top: 60%;
  left: 5%;
}

button {
  width: 100px;
  height: 56px;
  
  
  background: linear-gradient(#F8BFBF, #EE8B8B);
  border-style: none;
  border-radius: 50px;

  color: #fff;
  font-size: 26px;

  position: absolute;
  right: 0;

  transition: all 0.25s;
}

button:hover {
  background: rgb(250,218,218);
  background: linear-gradient(130deg, rgba(250,218,218,1) 0%, rgba(244,198,198,1) 100%);
  cursor: pointer;
  transform: scale(1.15);

  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
}

.success {
  display: inline-block;
  position: relative;
}

.success-text {
  color: #423A3A;
  font-size: 24px;

  font-style: italic;
}

.line {
  margin: 0.5rem;

  height: 2px;
  width: 50%;

  position: absolute;
  right: 25%;
  background-color: #CE9898;

}

.girl-picture {
  height: 100vh;
}

@media (max-width: 1450px) and (min-width: 1000px) {
  article {
    padding: 3rem 5rem;
  }
}

@media (max-width: 1000px) {
  .brand-desktop {
    display: none;
  }

  .brand-mobile {
    
    scale: 0.75;

    display: block;
    padding: 1rem;
  }

  html, body{
    margin: 0; padding: 0; width: 100%;
    height: 100%;
    overflow-x: hidden !important;
  }

  main {
    flex-direction: column-reverse;
  }

  .girl-picture {
    
    height: 300px;
    width: 100%;

    object-fit: cover;
    object-position: 0 35%;

    margin-bottom: 2rem;
  }

  article {
    text-align: center;

    padding: 0 2rem
  }

  p {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
  }

  form {
    width: 75%;
    height: 50px;

    left: 10%;

    margin-bottom: 1rem;
  }

  input {
    width: 100%;
    height: 50px;
  }

  button {
    width: 64px;
    height: 50px;
  }
}

@media (max-width: 525px) {
  form {
    width: 100%;

    left: 0;
  }
}

@media (max-width: 400px) {
  .brand-mobile{
    padding: 1rem;
  }
  
  .girl-picture {
    height: 250px;
    margin-bottom: 2.5rem;
  }
  
  article h1 {
    font-size: 52px;
    letter-spacing: 16px;
  }

  p {
    margin-top: 1rem;
  }

  form {
    margin-top: 1rem;
  }

}

@media (max-width: 355px) {
  article h1 {
    font-size: 46px;
    letter-spacing: 14px;
    line-height: 58px;
  }

  input {
    padding-left: 1.25rem;
    font-size: 13px;
  }
}
